@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}

 :root {
    --primary: #6F5BFE;
    --greenLight: #F4FAF8;
    --textBlack: #455260;
}

html,
body {
    min-width: 290px;
    color: var(--textBlack);
    background-color: #ffffff;
    font-family: Poppins, "Open Sans", Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
}

.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.35);
    opacity: 1;
    backdrop-filter: saturate(200%) blur(20px);
    box-shadow: 0px 5px 5px rgba(137, 178, 165, 0.06);
    /*    z-index: 99;*/
}

#header-img {
    height: 60px;
    line-height: 90px;
    margin-left: 100px;
}

nav {
    top: 0;
    /*    position: fixed;*/
    float: right;
    display: grid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    line-height: 35px;
    margin-right: 100px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    color: var(--primary);
}

img#nav-img {
    position: fixed;
    top: 0;
    right: 0;
    width: 160px;
    margin: -50px -30px;
}

a {
    cursor: pointer !important;
}

.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-about {
    max-width: 600px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-project {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

.welcome-section {
    float: left;
    height: auto;
    width: 100%;
    height: 100vh;
    padding-bottom: 6rem;
    padding-top: 14rem;
    background: linear-gradient(91.66deg, #E7E4FE 0.61%, #FBE4F7 59.34%, #F9D7CA 109.03%);
    text-align: center;
}

.welcome-section h2 {
    font-size: 28px;
    background-image: radial-gradient(circle farthest-corner at 100% 0, #B6ACFF 28%, #FDABEF 51%, #FCBBA3 87%, #dd5183 96%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-section img {
    width: 100%;
}

.main-left {
    float: left;
    width: 50%
}

.main-right {
    float: left;
    width: 50%;
    padding: 200px 10px 10px 10px;
}

h1 {
    font-size: 32px;
    font-weight: 400;
}

.name-label {
    position: absolute;
    margin: 7px auto;
}

.name-top {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    line-height: 150%;
}

.label-top {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    line-height: 150%;
}


/*form style*/

.form-subs {
    display: flex;
}

input.email-subs {
    height: 45px;
    padding: 10px;
    width: 255px;
    border: 1px solid var(--primary);
    border-radius: 0;
}

.btn#submit-subs {
    height: 45px;
    padding: 10px;
    width: auto;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
}


/*heading*/

h1.title {
    text-align: center;
    margin: 6rem auto 3rem auto;
    font-size: 34px;
    font-weight: 700;
}

h1.title.about {
    background-image: radial-gradient(circle farthest-corner at 100% 0, #9B8AFB 28%, #95CBF7 51%, #7AB6FF 87%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1.title.works {
    background-image: radial-gradient(circle farthest-corner at 100% 0, #B6ACFF 28%, #FDABEF 51%, #FCBBA3 87%, #dd5183 96%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*about section*/

.about-wrap {
    float: left;
    width: 100%;
}

.about-left {
    width: 50%;
    float: left;
    padding: 0px;
    font-size: 14px;
}

.about-right {
    width: 50%;
    float: left;
    padding: 0px;
    font-size: 14px;
}

.about-text {
    margin-bottom: 3rem;
}

.skill-label {
    color: #45444bbd;
}


/* Icons */

.icon-wrap {
    margin-top: 2rem;
}

.icon-button {
    background-color: lightrey;
    border-radius: 3rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    width: 2rem;
}

.icon-button i {
    background: none;
    color: white;
    height: 2rem;
    line-height: 2rem;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    width: 2rem;
    z-index: 10;
}

.icon-button .fa.fa-linkedin {
    color: var(--textBlack);
}

.icon-button .fa.fa-github {
    color: var(--textBlack);
}

.icon-button .fa.fa-dribbble {
    color: var(--textBlack);
}

.icon-button .fa.fa-free-code-camp {
    color: var(--textBlack);
}

.icon-button:hover .fa.fa-linkedin,
.icon-button:hover .fa.fa-github,
.icon-button:hover .fa.fa-dribbble,
.icon-button:hover .fa.fa-free-code-camp {
    color: white;
}


/* .icon-button:hover span {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
} */

.linkedin:hover {
    background-color: #0a66c2;
}

.github:hover {
    background-color: #333;
}

.dribbble:hover {
    background-color: #ea4c89;
}

.freecodecamp:hover {
    background-color: #006400;
}


/*feature section*/

.project-wrap {
    float: left;
    width: 100%;
}

.projectItem-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content: center;
    font-family: 'Questrial', sans-serif;
}

.project-tile {
    margin-bottom: 3rem;
}

.title-project {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    line-height: 1.1em;
}

.label-project {
    margin: 0;
    font-size: 14px;
}

.text-project {
    font-size: 16px;
}

.project-tile img {
    width: auto;
    height: 200px;
    display: block;
    margin: auto;
}


/*pricing section*/

.price-wrap {
    background-color: var(--greenLight);
    float: left;
    width: 100%;
    padding-bottom: 200px;
}

.pricingItem-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content: center;
}

.priceItem {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
    margin: 11px;
    width: 20%;
    padding: 15px;
}

.priceItem p {
    text-align: justify;
}

p.price {
    color: #EA7E80;
    font-size: 22px;
    text-align: center;
}

span.fa {
    margin-right: 10px;
    color: var(--primary);
}

.button-project {
    background-color: black;
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 9px 25px;
    text-decoration: none;
    margin: 30px 0 0 0;
    margin-bottom: 10px;
    display: block;
    transition: all 0.33s;
    transition-timing-function: cubic-bezier(.17, .67, .83, .67);
}

.button-project:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    -webkit-box-shadow: inset 0px 0px 0px 1px #000;
    -moz-box-shadow: inset 0px 0px 0px 1px #000;
    box-shadow: inset 0px 0px 0px 1px #000;
}


/*
contact section
*/

.contact-wrap {
    background-color: #F9F9F9;
    float: left;
    width: 100%;
}

.contact-left {
    float: left;
    width: 100%;
    font-size: 12px;
    padding: 1rem 0;
    text-align: center;
}

.contact-right {
    float: left;
    width: 50%;
    padding: 20px;
    color: white;
    text-align: justify;
}

.contact-right h1 {
    text-align: justify;
}

.contact-right span {
    color: #395a2f;
}

.contact-card {
    text-align: justify;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
    width: 70%;
    padding: 15px;
    float: right;
    margin-top: -100px;
    margin-bottom: 80px;
}

input {
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--greenLight);
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    border: rgba(207, 207, 207, 0.4) 1px solid;
}

textarea {
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--greenLight);
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    border: rgba(207, 207, 207, 0.4) 1px solid;
}

.btn-send {
    background-color: var(--primary);
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 100px;
}

.btn-send:hover {
    background-color: white;
    color: var(--primary);
    border: var(--primary) 1px solid;
    cursor: pointer;
}

.label {
    color: #737373;
}

@media (max-width:1000px) {
    .main-wrap img {
        margin-top: 100px;
    }
    .main-right {
        padding: 100px 10px 10px 10px;
    }
    .priceItem {
        width: 29%;
    }
    .contact-card {
        width: 100%;
    }
}

@media (max-width: 40em) {
    #features {
        margin-top: 0;
    }
    .main-left,
    .main-right,
    .about-left,
    .about-right,
    .contact-left,
    .contact-right,
    .featureItem,
    .priceItem {
        width: 100%;
    }
    #header-img {
        margin-left: 0;
    }
    nav {
        display: none;
    }
    .main-right {
        padding-top: 0;
    }
    .contact-card {
        margin-bottom: 0;
    }
    .about-right,
    .about-left {
        padding: 0 15px 20px 15px;
    }
    #video {
        width: 100%;
    }
}